@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');

body {
    background: rgb(238, 232, 232);
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

section {
    background: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.541);

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }